<!-- ======= Cards Section ======= -->
<section id="portfolio" class="services">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2>Portfolio</h2>
      <p>Dernières réalisations</p>
    </div>

    <div class="row">
      <!-- requête  -->
      {% for peinture in peintures %}
        
      <div class="col-md-6 mt-5">
        <div class="icon-box" data-aos="zoom-in-left">
          <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
          <img src="{{peinture.file}}" alt="" class="img-fluid rounded mb-3">
          <h4 class="title"><a href="">{{peinture.nom}}</a></h4>
          <p class="description">{{peinture.description | u.truncate(200, '...', false)}}</p>
          <p class="description">Date de réalisation : {{peinture.dateRealisation |date('d/m/Y')}}</p>
        </div>
      </div>
      {% endfor %}

      <!--  -->
     
    </div>



  </div>
</section><!-- End Portfolio Section -->

<!-- End Features Section -->