<!-- ======= Services Section Actualités ======= -->
<section id="actu" class="services">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2>Actualités</h2>
      <p>Expositions & Ateliers</p>
    </div>

    <div class="row">
      {% for blogpost in blogposts %}

      <div class="col-lg-4 col-md-6 col-md-6 mt-5">
        <div class="icon-box" data-aos="zoom-in-left">
          <div class="icon"><i class="bi" style="color: #ff689b;"></i></div>
          <h4 class="title"><a href="">{{blogpost.titre}}</a></h4>
          <p class="description">{{blogpost.contenu | u.truncate(150, '...', false)}}</p>
          <p class="description">Date de publication : {{blogpost.createdAt |date('d/m/Y')}}</p>

        </div>
      </div>
      {% endfor %}
      
    </div>

  </div>
</section><!-- End Services Section -->