    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">
  
          <div class="section-title" data-aos="zoom-out">
            <h2>Contributions</h2>
            <p>Galleries et Associations partenaires...
              
            </p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up">
                <div class="member-img">
                  <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>La Hall Tropisme</h4>
                  <span>Rue de Fontcouverte - Montpellier</span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Art des Remparts</h4>
                  <span>Centre Culturel - Saint-Martin-De-Londres</span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Villa des 100 regards</h4>
                  <span>Lieu d'exposition - Montpellier</span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="300">
                <div class="member-img">
                  <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Le Réservoir</h4>
                  <span>Gallerie d'art - Sète</span>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Team Section -->
  
  
    </main><!-- End #main -->