<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Administration menu</h2>
        <ol>
          <li><a href="{{path('admin_blogpost_index')}}">Vos actualités</a></li>
          <li><a href="{{path('admin_peinture_index')}}">Vos peintures</a></li>
          <li>Détails...</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

 

 
</main><!-- End #main -->